<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="MessMate"
        android:supportsRtl="true"
        android:theme="@style/Theme.MessMate">
        <activity
            android:name=".presentation.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.member.MemberMainActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.owner.OwnerMainActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>